/* CONTENEDORES */
.contenedor-menu,
.contendor-opciones {
  padding: var(--padding-uno);
  display: flex;
}
.contenedor-menu {
  align-items: center;
  justify-content: space-between;
}
.contenedor-opciones-cerrado {
  height: 0;
  overflow: hidden;
}
.contendor-opciones {
  flex-direction: column;
  gap: 1rem;
  background-color: var(--azul-cuatro);
}
/* BOTONES */
.link-activo {
  background-color: var(--azul-dos);
}
/* TEXTO */
.link-navegacion {
  text-decoration: none;
  color: var(--blanco-uno);
  font-weight: bold;
  padding: 0.7rem 1rem;
  border-radius: var(--radioBorde-uno);
}
/* ICONOS */
.icono {
  width: 2rem;
  height: 2rem;
}
/* IMAGENES */
.logo-toptech {
  width: 120px;
}
/* MEDIA QUERIES */
@media (min-width: 760px) {
  .boton-icono-menu {
    display: none;
  }
  .contendor-opciones,
  .contenedor-opciones-cerrado {
    padding: var(--padding-uno);
    flex-direction: row;
    gap: 2rem;
    /* border: 1px solid black; */
  }
  .contendor-opciones {
    background-color: var(--blanco-uno);
  }
  .contenedor-opciones-cerrado {
    display: flex;
    height: max-content;
  }
  .link-activo {
    background-color: var(--blanco-uno);
    text-decoration: underline;
  }
  .link-navegacion {
    padding: 0;
    color: var(--negro);
    font-weight: normal;
  }
}
@media (min-width: 1080px) {
  .contenedor-menu,
  .contendor-opciones,
  .contenedor-opciones-cerrado {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }
}
