.boton {
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  border-radius: var(--radioBorde-uno);
  cursor: pointer;
}
.boton:active {
  transform: scale(0.95);
}
.boton-icono {
  background-color: var(--white);
  padding: 0;
}
.boton-general {
  border: 2px solid var(--blanco-uno);
  background-color: var(--azul-tres);
  color: var(--blanco-uno);
  font-weight: bold;
  width: 100%;
}
.boton-principal {
  padding: 1rem 2rem;
}
.boton-oferta {
  align-items: flex-end;
  margin-top: auto;
}
@media (min-width: 780px) {
  .boton-principal {
    width: 160px;
  }
}
