/* CONTENEDORES */
.contenedor-footer,
.contenedor-footer-legal,
.contenedor-footer-contacto {
  display: flex;
}
.contenedor-footer-contacto,
.contenedor-footer {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contenedor-footer-legal {
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 1rem;
  width: 100%;
}
/* ANCHOR TAGS */
.contenedor-footer-legal a {
  cursor: pointer;
  text-align: center;
  font-size: 0.7rem;
  /* border: 1px solid black; */
}
/* IMAGENES */
.logo-footer-toptech {
  width: 300px;
}
@media (min-width: 760px) {
  .contenedor-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-uno);
  }
  .contenedor-footer-contacto {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .contenedor-footer-legal {
    gap: 3rem;
    justify-content: flex-start;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .contenedor-footer {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }
}
