.contenedor-general-tarjeta-servicios {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.contenedor-tarjetas-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
.contenedor-general-tarjeta-servicios h3 {
  color: var(--blanco-uno);
  padding: 0 3rem 2rem 3rem;
  font-size: 2.5rem;
}
.navlink-boton-servicios {
  padding: 0 3rem;
  width: 100%;
}

@media (min-width: 550px) {
  .item-a {
    grid-area: prim;
  }
  .item-b {
    grid-area: segn;
  }
  .item-c {
    grid-area: terc;
  }
  .item-d {
    grid-area: cuar;
  }
  .item-e {
    grid-area: quin;
  }
  .item-f {
    grid-area: sext;
  }
  .contenedor-general-tarjeta-servicios h3 {
    padding: 0;
    grid-area: txto;
    font-size: 3rem;
  }
  .navlink-boton-servicios {
    padding: 0;
    grid-area: botn;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .contenedor-tarjetas-servicios {
    grid-area: cntn;
    gap: 2rem;
  }
  .contenedor-general-tarjeta-servicios {
    display: grid;
    /* border: 1px solid white; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "  .  cntn"
      "txto cntn"
      "botn cntn";
    /*     justify-items: start;
    align-items: start; */
  }
}
