/* Define todos los margenes y padding 0 para que sean asignados en cada elemento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* Color de fondo general de la pagina */
  background-color: var(--blanco-uno);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Definición de las variables de la paleta de colores, paddings y margenes */
  --gris-uno: #e7e7e7;
  --gris-dos: #b0acac;
  --gris-tres: #9d9d9d;
  --gris-cuatro: #535353;
  --blanco-uno: #ffffff;
  --azul-uno: #2b4554;
  --azul-dos: #243a47;
  --azul-tres: #142630;
  --azul-cuatro: #031921;
  --rojo: #f21a24;

  --amarillo: #979854;
  --amarilloClaro: #fffdc3;
  --azul: #1275d8;
  --azulClaro: #88c3ff;
  --rojoClaro: #ffa8a8;
  --verde: #04fb00;
  --verdeClaro: #bdff97;
  --blanco: #f6faff;
  --gris: #d7d7d7;
  --negro: #010911;

  --padding-uno: 2rem;
  --padding-dos: 1.5rem;

  --radioBorde-uno: 15px;

  --tamañoPantalla-uno: 760px;
  --tamañoPantalla-dos: 870px;
  --tamañoPantalla-tres: 1080px;

  --padding-left: 200px;
  --padding-right: 200px;

  /* TAMAÑO DE LETRA
     Titulo principal: 1rem
     Titulos secundario: 1.5
  */
}
@media (min-width: 1080px) {
  /*   :root {
    padding-left: 200px;
    padding-right: 200px;
  } */
}
