/* Define todos los margenes y padding 0 para que sean asignados en cada elemento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* Color de fondo general de la pagina */
  background-color: var(--blanco);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Definición de las variables de la paleta de colores, paddings y margenes */
  --amarillo: #fdff88;
  --amarilloClaro: #fffdc3;
  --azul: #1275d8;
  --azulClaro: #88c3ff;
  --rojo: #ff2222;
  --rojoClaro: #ffa8a8;
  --verde: #04fb00;
  --verdeClaro: #bdff97;
  --blanco: #f6faff;
  --gris: #d7d7d7;
  --negro: #010911;

  --padding-uno: 1rem;
  --padding-dos: 1.5rem;

  --radioBorde-uno: 30px;

  --tamañoPantalla-uno: 760px;
  --tamañoPantalla-dos: 870px;
  --tamañoPantalla-tres: 1080px;
}
@media (min-width: 1080px) {
  :root {
    padding-left: 200px;
    padding-right: 200px;
  }
}
