header,
.seccion-ofertas,
.seccion-servicios,
.seccion-informacion,
footer {
  padding: var(--padding-uno);
}
header {
  display: flex;
  flex-direction: column;
  /*   border: 1px solid black; */
}
header h1 {
  margin: 7rem 0;
}
.seccion-ofertas,
.seccion-servicios,
.seccion-informacion,
footer {
  padding-top: 7rem;
}

@media (min-width: 760px) {
  header h1 {
    margin: 5rem 0;
    font-size: 3rem;
  }
}
@media (min-width: 1080px) {
  header h1 {
    margin: 6rem 0;
    font-size: 3rem;
  }
}
