/* CONTENEDORES */
.contenedor-header-pagina-servicios {
  padding: 10rem var(--padding-uno);
  background-image: url(../../imagenes/Fondo_servicios.jpg);
  background-position: bottom;
  background-size: cover;
}
.contenedor-servicios,
.contenedor-servicios-atencion {
  padding: 6rem var(--padding-uno);
}
.contenedor-servicios,
.contenedor-servicios-tarjetas,
.contenedor-servicios-atencion {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contenedor-dos {
  background-image: url(../../imagenes/Fondo_principal_unsplash.jpg);
  background-position: left;
}
.contenedor-servicios-atencion {
  gap: 2rem;
}
.contenedor-servicios-clientes {
  background: url(../../imagenes/Fondo_servicios.jpg);
  background: cover;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--blanco-uno);
  gap: 3rem;
}
.contenedor-servicios-clientes ul {
  display: flex;
  justify-content: space-between;
}
/* TEXTO */
.contenedor-header-pagina-servicios h2,
.contenedor-servicios-atencion h3 {
  font-size: 2.5rem;
  /* padding-left: 3rem; */
}
.contenedor-header-pagina-servicios h2 {
  text-shadow: 1px 1px 10px black;
  color: var(--blanco-uno);
}
.contenedor-servicios-clientes h4 {
  font-size: 2rem;
}
/* IMAGENES */
.contenedor-servicios-atencion > img {
  border-radius: var(--radioBorde-uno);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 760px) {
  .contenedor-header-pagina-servicios h2 {
    padding-left: 0rem;
  }
  .item-a {
    grid-area: prim;
  }
  .item-b {
    grid-area: segn;
  }
  .item-c {
    grid-area: terc;
  }
  .item-d {
    grid-area: cuar;
  }
  .item-e {
    grid-area: quin;
  }
  .item-f {
    grid-area: sext;
  }
  .contenedor-servicios-atencion > h3 {
    grid-area: txto;
  }
  .navlink-servicios-contacto {
    grid-area: botn;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .contenedor-servicios-atencion img {
    grid-area: imag;
  }
  .contenedor-servicios,
  .contenedor-servicios-atencion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "prim segn"
      "prim terc";
  }
  .contenedor-dos {
    grid-template-areas:
      "quin sext"
      "cuar sext";
  }
  .contenedor-servicios-atencion {
    grid-template-areas:
      "txto imag"
      "botn imag";
  }
}
@media (min-width: 1200px) {
  .contenedor-header-pagina-servicios,
  .contenedor-servicios,
  .contenedor-servicios-atencion,
  .contenedor-servicios-clientes {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }
  .contenedor-header-pagina-servicios h2 {
    font-size: 3rem;
  }
}
